html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    min-width: 23.4375em;
    max-width: 64em;
    overflow-x: hidden;
    background: url(/images/pattern-curve.svg) no-repeat bottom left;


    @include breakpoints-up(large){
        overflow: hidden;
        height: 100vh;
    }
}

#slide1 {
    display: block;
}

#slide2 {
    display: none;
}